@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

/* TODO js исправить теги (подумать про figure), .popup проверить высоту слоя, исправить у section  класс  */

.page {
  font-family: 'Inter', sans-serif;
  background-color: black;
  color: white;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  position: relative;
}

.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 37px 0;
  border-bottom: 1px solid #545454;
}

@media (max-width: 1023px) {
  .header {
    max-width: 700px;
    padding: 28px 0 28px 0;
  }
} 

.header__logo {
  width: 142px;
  height: 33px;
}

@media (max-width: 767px) {
  .header__logo {
    margin-left: 27px;
    width: 104px;
    height: 24px;
  }
} 

.profile {
  max-width: 880px;
  margin: 0 auto;
  padding: 40px 0 50px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 1023px) {
  .profile {
    max-width: 700px;
  }
}

@media (max-width: 767px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    padding: 42px 0 36px 0;
  }
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  flex-grow: 1;
  margin: 5px 0 0 30px;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  grid-template-rows: 53px 1fr;
  align-self: center;
  column-gap: 19px;
}

@media (max-width: 767px) {
  .profile__info {
    column-gap: 10px;
    grid-template-rows: 40px 1fr;
    padding-top: 26px;
    margin: 0 0 0 28px;
  }
}  

.profile__title {
  max-width: 294px;
  font-weight: 500;
  font-size: 42px;
  line-height: 37px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
}

@media (max-width: 767px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
  }
}  

.profile__button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  background-color: black;
}


.profile__button:hover {
  opacity: .6;
}  

.profile__button_type_add {
  width: 150px;
  height: 50px;
  border-width: 2px;
  box-sizing: border-box;
  border-radius: 2px;
  background-image: url(./image/plus.svg);
  margin-left: auto;
  padding: 0;
}

@media (max-width: 767px) {
  .profile__button_type_add {
    width: 282px;
    margin: 33px 0 0 0;
    background-size: 5%;
  }
} 

.profile__button_type_edit {
  width: 24px;
  height: 24px;
  background-image: url('./image/pen.svg');
  justify-self: start;
  margin-top: 10px;
  padding: 0;
}


@media (max-width: 767px) {
  .profile__button_type_edit {
    width: 18px;
    height: 18px;
    margin-top: 8px;
  }
} 

.profile__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  grid-column: 1/-1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 767px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    grid-column: 1/2;
  }
}  

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  max-width: 880px;
  margin: 0 auto;
  padding: 0;
  column-gap: 17px;
  row-gap: 20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cards {
    max-width: 581px;
  }
}

@media (max-width: 767px) {
  .cards {
    max-width: 282px;
  }
}

.card {
  font-size: 0;
  max-width: 282px;
  margin: 0;
}

.card__image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0;
  padding: 0;
}

.card__footer {
  display: flex;
  max-width: 282px;
  background-color: white;
  color: black;
  margin: 0;
  padding: 25px 20px 25px 21px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: space-between;
}

.card__title {
  max-width: 200px;
  background-color: white;
  color: black;
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like {
  width: 22px;
  height: 19px;
  background-image: url('./image/like.svg');
  background-repeat: no-repeat;
  align-self: center;
}

.card__like:hover {
  opacity: .5;
}

.card__like:active {
  width: 22px;
  height: 19px;
  background-image: url('./image/like-active.svg');
  background-repeat: no-repeat;
  opacity: 1;
}

.footer {
  max-width: 880px;
  margin: 0 auto;
  padding: 67px 0 60px 0;
}

@media (max-width: 1023px) {
  .footer {
    max-width: 700px;
  }
} 


@media (max-width: 767px) {
  .footer {
    padding: 50px 19px 34px 19px;
  }
} 

.footer__copyright {
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media (max-width: 767px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}    

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
}

.popup__container {
  box-sizing: border-box;
  position: absolute;
  width: 430px;
  height: 330px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 34px 36px 37px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
} 

.popup__button {
  border: none;
}

.popup__button_type_close {
  position: absolute;
  right: -40px;
  top: -40px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url('./image/Clos_Icon.svg');
}

@media (max-width: 767px) {
  .popup__button_type_close {
    right: 0px;
    top: -36px;
    width: 20px;
    height: 20px;
    background-size: cover;
  }
}

.popup__button_type_close:hover {
  opacity: .6;
}  

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 23px;
  color: #000;
  margin: 0;
}

@media (max-width: 767px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }
}

.popup__field {
  box-sizing: border-box;
  max-width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px 0; 
  color: #000;
}

@media (max-width: 767px) {
  .popup__field {
    font-size: 14px;
    line-height: 17px;
  }
} 

.popup__button_type_submit {
  max-width: 358px;
  height: 50px;
  background: #000;
  /* border: none; */
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 0;
}

.popup__button_type_submit:hover {
  opacity: .8;
}

.opened {
  display: flex;
}