.popup__fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 49px;
}

@media (max-width: 767px) {
  .popup__fields {
    margin-bottom: 44px;
  }
}